<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>YUMO NAIL</title>
</head>
<body>
  <div id="react-root"></div>
</body>
</html>
